option_settings:

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    DisableIMDSv1: true
  
  aws:elasticbeanstalk:environment:
    EnableSpot: true

  ws:ec2:instances:
    RootVolumeType: gp3
    BlockDeviceMappings: "/dev/xvda=:100:true:gp3"

  aws:autoscaling:launchconfiguration:
    LaunchTemplateId: "lt-03506bca506d49aeb"
